@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Red+Hat+Display:ital,wght@0,400;0,700;1,400&display=swap'); 

:root {
    --primary-font: 'Pacifico', cursive; 
    --secondary-font: 'Red Hat Display', sans-serif; 
    --primary-color: #37323E; 
    --secondary-a: #000000; 
    --secondary-b: #FFFFFF; }

.bg-dark {
    background-color: var(--primary-color)!important;
}

body {
    font-family: var(--primary-font);
}

p {
    font-family: var(--secondary-font);
    font-size: 16px;
}

h3 {
    font-family: var(--secondary-font);
    font-size: 24px;
}

h4 {
    font-family: var(--secondary-font);
    font-size: 16px;
    color: var(--secondary-a);
}

.middle-section ul {
    list-style-type: none;
    text-decoration: none;
    padding-left: 0;
    font-family: var(--secondary-font);
    font-size: 16px;
}

.fas {
    padding-right: 1rem;
    padding-left: 1rem;
}

.bottom-section {
    background-image: url(../img/fireworks-in-hand.jpg);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bottom-section h3, p {
    color: var(--secondary-b);
}

.blog-post-section p {
    color: var(--secondary-a);
}

.top-section {
    margin-top: 50px;
    margin-bottom: 50px;

}

.top-section p {
    color: var(--secondary-a);
}