
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Red+Hat+Display:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --primary-font: 'Pacifico', cursive;
    --secondary-font: 'Red Hat Display', sans-serif;
    --primary-color: #37323E;
    --secondary-a: #000000;
    --secondary-b: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 980px;
    margin: auto;
}

/*Header*/
header {
    display: inline-block;
    height: auto;
    width: auto;
    position: fixed;
    background-color: var(--primary-color);
}

.logo {
    display: block;
    padding-top: 10px;
}
header nav {
    display: flex;
    flex-direction: row;
}
header .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-direction: row;
}

nav ul {
    display:flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
 }

header .menu a {
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 20px;
    color: var(--secondary-b);
    padding: 20px;
    display: inline-block;
}

#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/*Main*/
h1 {
    font-family: var(--primary-font);
    color: var(--secondary-b);
    font-size: 48px;
}

h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 32px;
}
p {
    font-family: var(--secondary-font);
    color: var(--secondary-a);
    font-size: 16px;
}
/* Footer */

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
}

footer p {
    color: var(--secondary-b);
    font-size: 12px;
}
footer .company {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer .social {
    display: flex;
    flex: 1 2 auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

footer a {
    color: var(--secondary-b);
}